<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="../../../common/css/style.css">
    <title></title>
  </head>
  <body>
    {% include "user/header.twig" %}
    <h3>ログイン完了ページ</h3>
    <div>ログインが完了しました。</div>
    </br><a href="http://localhost/ibarakikensan/controller/item/list.php">トップページへ</a>
    </br><a href="http://localhost/ibarakikensan/controller/cart/cart.php">カートページへ</a>
    {% include "user/footer.twig" %}
  </body>
</html>