<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="../../../common/css/style.css">
    <title>注文確定</title>
  </head>
  <body class="bg-gray-50">
    {% include "user/header.twig" %}

    <div class="max-w-3xl mx-auto mt-12 p-6">
      <h3 class="text-xl font-semibold text-center text-gray-800">注文確定ページ</h3>
      <div class="mt-6 text-center text-gray-700">
        <p>注文が確定しました。</p>
      </div>

      <div class="mt-8 text-center">
        <a href="http://localhost/ibarakikensan/controller/item/list.php" class="inline-block bg-blue-500 text-white py-2 px-6 rounded-lg hover:bg-blue-600 transition duration-200">
          トップページへ戻る
        </a>
      </div>
    </div>

    {% include "user/footer.twig" %}
  </body>
</html>
