  <header>
    <div class="bg-yellow-50 p-2 m-0">
      <div class="container mx-auto flex justify-between items-center">
        <div class="text-gray-800 text-sm">
          {% if admin_account is defined %}
            こんにちは！{{ admin_account }} 様
          {% else %}
            こんにちは！ゲスト 様
          {% endif %}
        </div>

        <div>
          {% if admin_account is defined%}
            <a href="/ibarakikensan/controller/administer/auth/logout.php"
               class="inline-block bg-blue-500 text-white text-sm px-4 py-2 rounded hover:bg-blue-600 transition">
              ログアウト
            </a>
          {% endif %}
        </div>
      </div>
        <div class="flex justify-center items-center bg-yellow-50 p-5">
      <img src="{{constant("ibarakikensan\\common\\Bootstrap::ENTRY_URL")}}/image/site_signboard.png" alt="ヘッダー画像" class="w-1/2 max-h-52 object-contain">
    </div>
    </header>