<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.0.4/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../common/css/style.css">
    <title>管理者用トップページ</title>
  </head>
  <body class="bg-gray-50 text-gray-700">

    <!-- ヘッダー -->
    {% include "administer/header.twig" %}

    <div class="container mx-auto p-4">

      <!-- ページタイトル -->
      <h3 class="text-xl font-semibold text-center mb-8">管理者用トップページ</h3>

      <!-- メニューリスト -->
      <ul class="space-y-2 text-center">
        <li>
          <a href="../../controller/item/list.php" class="text-blue-600 hover:text-blue-800 text-md font-medium py-2 px-4 rounded-lg block transition duration-300 hover:shadow-md">
            ユーザートップページ
          </a>
        </li>
        <li>
          <a href="../../controller/administer/item/regist.php" class="text-blue-600 hover:text-blue-800 text-md font-medium py-2 px-4 rounded-lg block transition duration-300 hover:shadow-md">
            商品登録ページ
          </a>
        </li>
        <li>
          <a href="../../controller/administer/item/list.php" class="text-blue-600 hover:text-blue-800 text-md font-medium py-2 px-4 rounded-lg block transition duration-300 hover:shadow-md">
            在庫一覧ページ
          </a>
        </li>
        <li>
          <a href="../../controller/administer/item/inOutData.php" class="text-blue-600 hover:text-blue-800 text-md font-medium py-2 px-4 rounded-lg block transition duration-300 hover:shadow-md">
            入出庫一覧ページ
          </a>
        </li>
        <li>
          <a href="../../controller/administer/item/salestally.php" class="text-blue-600 hover:text-blue-800 text-md font-medium py-2 px-4 rounded-lg block transition duration-300 hover:shadow-md">
            売上集計ページ
          </a>
        </li>
        <li>
          <a href="../../controller/administer/auth/memberlist.php" class="text-blue-600 hover:text-blue-800 text-md font-medium py-2 px-4 rounded-lg block transition duration-300 hover:shadow-md">
            登録者一覧ページ
          </a>
        </li>
      </ul>
    </div>

    <!-- フッター -->
    {% include "administer/footer.twig" %}

  </body>
</html>
